.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius-md);
  background-color: #EEF2FF;
  overflow: hidden;
}

.avatar-small {
  width: 32px;
  height: 32px;
}

.avatar-medium {
  width: 40px;
  height: 40px;
}

.avatar-large {
  width: 56px;
  height: 56px;
}

.avatar-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.avatar-initials {
  font-weight: 700;
  color: #4F46E5;
  font-size: var(--font-size-md);
}

.avatar-large .avatar-initials {
  font-size: var(--font-size-xl);
}
