.icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: var(--radius-md);
  cursor: pointer;
  transition: all var(--transition-fast);
}

.icon-button-default:hover:not(.icon-button-disabled) {
  opacity: 0.8;
  transform: scale(1.05);
}

.icon-button-ghost {
  background-color: transparent !important;
}

.icon-button-ghost:hover:not(.icon-button-disabled) {
  background-color: var(--bg-secondary) !important;
}

.icon-button-disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
